<div class="container">
    <div class="about_us">
        <h2>Sobre nosotros</h2>
        <hr>
        <p>Ecogaia nace con el objetivo de reducir el impacto ambiental de la contaminacion y te <b>invitamos</b> a que nos 
            acompañes en el camino teniendo un estilo de vida mas sostenible con el medio ambiente.</p>
        <p>Traeremos <b>conscientes</b>  y amigables con tu cuerpo y con la Tierra.</p>
    </div>
    <div class="contact_ribbon">
        <h2>CONTACTANOS</h2>
        <p class="contact_phone">
            <a href="https://api.whatsapp.com/send?phone=573152842614"
            target="_blank">
                <i class="uil uil-whatsapp"></i>
            </a> + 57 3152842614 </p>
        <p class="contact_phone">
            <a href="https://www.instagram.com/ecogaia.co/"
            target="_blank">
                <i class="uil uil-instagram"></i>
            </a> @ecogaia.co </p>
    </div>
    
</div>