<div class="container">
    <section class="product-container">
        <div class="image"></div>
        <div class="product-properties">

        </div>
    </section>
    <section class="description-container">
        <h1>Cepillo Dental de Bambu </h1>
        <hr>
        <h2 class="description-precio">$15.000</h2>
        <p class="descripcion-subtitulo">
            ¿Sabías que todos los cepillos de dientes que has usado en tu vida aún existe?
            Te presentamos una alternativa sostenible y amigable con el medio ambiente.
        </p>
        <ul>
            <li>
                <p>Mango 100% de bambú que lo hace biodegradable</p>
            </li>
            <li>
                <p>Cerdas de nylon 6,  reciclables, libres de BPA que te proporcionarán una buena limpieza bucal.</p>
            </li>
        </ul>
        <p>
            No sentirás el cambio debido a que el bambú no produce ningún sabor y es naturalmente es antibacteriano por eso resiste la humedad haciéndolo una alternativa ideal para dejar el cepillo de plástico. 
            Se recomienda cambiarlo cada 3 meses.
            Visita nuestro instagram @ecogaia.co para saber como reutilizarlo.

            ¡Contamos con registro Sanitario Invima!
            NO: INVIMA 2021DM-0023057
        </p>
    </section>
</div>