@import url('../../../styles.css');

.container {
    background: var(--bg-first);
    background: var(--bg-first-linear);
    height: var(--page-height);
    width: 100%;
    display: flex;
}

.product-container {
    width: 50%;
    height: max-content;
    background-color: var(--bg-first);
    display: flex;
    flex-direction: column;
}

.image {
    background: url("../../../assets/images/1617958201228-calabaza.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position: static;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.description-container {
    width: 50%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-content: center;
    background-color: var(--color-button-hover);
}