<section class="signup-container">
    <div class="card login-box">
        <div class="card-body">
            <div class="logo-img">
                <img src="assets/images/logo.png" alt="">
            </div>
            <form autocomplete="off">
                <div class="form-control">
                    <label for="username"><i class="pi pi-user"></i></label>
                    <input name="username" type="text" class="input-form" placeholder="email o username">
                </div>
                <div class="form-control">
                    <label for="password"><i class="pi pi-lock"></i></label>
                    <input name="password" type="text" class="input-form" placeholder="password">
                </div>
                <div class="form-control">
                    <label for="password"><i class="pi pi-link"></i></label>
                    <input name="password" type="text" class="input-form" placeholder="confirm password">
                </div>
                <button class="btn btn-signup">Sign up</button>
                <div class="form-group row m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Already have an account? <a href="pages-login-2.html" class="text-info m-l-5"><b>Log In</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a routerLink="/" class="btn back-products"><i class="pi pi-angle-double-left
    "></i>Regresar</a>
</section>
