<app-navbar></app-navbar>

<div class="container">
    
    <div class="row">
        <div class="col-8">
            <div class="container row mt-4">
                    <div class="col-8">
                        <h2>Carrito de compras</h2>
                    </div>
                    <div class="col">
                        <h5 class=" mt-3 float-end"><b>3 items</b></h5>
                    </div>
            </div>
            
            <div>
                <p-card class="row">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3"><b>Producto</b></div>
                        <div class="col-2"><b>Precio</b></div>
                        <div class="col-2"><b>Cantidad</b></div>
                        <div class="col-2"><b>Subtotal</b></div>
                    </div>
                </p-card>                
                <p-card class="row mt-1 mb-2" *ngFor="let item of [1,2,3]">
                    <div class="row">
                        <div class="col-1 remove_container">
                            <button type="button" class="btn btn-light" (click)="removeItem(item)">
                                <i class="uil uil-trash-alt"></i>
                            </button>
                        </div>
                        <div class="col-2">
                            <img src="./assets/images/cup1.webp" class=cart-img alt="">
                        </div>
                        <div class="col-3">Combo 1</div>
                        <div class="col-2">$ 50.000</div>
                        <div class="col-2">
                            <input type="number" class="input-cant-cart">
                        </div>
                        <div class="col-2">Subtotal</div>
                    </div>
                </p-card>
            </div>
            
        </div>

        <div class="col-4">
            
            <div class="container mt-4 order-sumary">

                <h4>Resumen del pedido</h4>
                <hr>
                <div class="order-sumary_data row">
                    <p class="col-6">ITEMS 3</p>
                    <p class="col-6">$ 457.00</p>
                </div>
                <div class="order-shipping">
                    <form [formGroup]="orderForm" (ngSubmit)="checkOut();">
                        <label for="email">Email</label>
                        <input type="text"
                                class="form-control mb-2"
                                formControlName="email">
                        <p> <b>Solo envios nacionales a Colombia**</b> </p>
                        <div class="row mb-2">
                            <label class="form-label">Departamento</label>
                            <select class="form-control"
                                    formControlName="state">
                                <option value="">-- Seleccione Departamento -- </option>
                                <option *ngFor="let state of states"
                                        [value]="state"> {{state}} </option>
                            </select>
                        </div>
                    
                        <div class="row mb-3" *ngIf="cities.length > 0">
                            <label class="form-label">Municipio: </label>
                            <select class="form-control"
                                    formControlName="city">
                                <option value="">-- Seleccione Municipio -- </option>
                                <option *ngFor="let city of cities"
                                        [value]="city"> {{ city }} </option>
                            </select>
                        </div>

                        <div class="row">
                            <label class="form-label">Dirección: </label>
                            <input type="text"
                                    class="form-control"
                                    formControlName="address">
                        </div>

                        <div class="row">
                            <div class="col cho-container">
                                
                            </div>
                            <div class="col">
                                <button class="btn btn-primary mt-3 float-end"
                                        type="submit">
                                    ordernar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Agrega credenciales de SDK
    const mp = new MercadoPago('APP_USR-d0d2792f-874e-4717-85e7-c9b1d41cde1b', {
        locale: 'es-CO'
    });

    // Inicializa el checkout
    mp.checkout({
        preference: {
            id: 'YOUR_PREFERENCE_ID'
        },
        render: {
            container: '.cho-container', // Indica el nombre de la clase donde se mostrará el botón de pago
            label: 'Pagar', // Cambia el texto del botón de pago (opcional)
        }
    });
</script>