
    <div class="container-home">
        <br>
        <h1>¡Bienvenidos!</h1>
        <hr>
        <p>A un consumo consciente, sostenible y responsable. 
            <a href="https://www.instagram.com/ecogaia.co/"
            target="_blank"><i class="uil uil-instagram"></i></a> siguenos en instagram :).
        </p>
        <div class="container">
            <div class="row">
                <app-image-window class="col-lg-3 col-sm-6 img-container" *ngFor="let image of images" [product]=image.path
                [routerLink]="image.productUrl"></app-image-window>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 container-button">
                <button class="btn" routerLink="/products">ECO TIENDA</button>
            </div>
        </div>
    </div>
