.image-window {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    border: .15rem solid hsl(35, 100%, 15%, 70%);
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    height: 335px;
    width: 215px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.image-window:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
}

.img {
    border: 1px solid black;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    height: 310px;
    width: 190px;
}
