/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');


:root {
    /* colors */
    --bg-first: rgb(241,237,219);
    --bg-first-linear: linear-gradient(51deg, rgba(241,237,219,1) 7%, rgba(232,231,225,0.9556197478991597) 31%, rgba(255,253,243,1) 49%, rgba(232,231,225,1) 69%, rgba(241,237,219,1) 94%);
    --bg-nav: #F4E5D7;
    --bg-second: #E9E5E1;
    --color-text-primary: #896F5A;
    --color-text-secondary: whitesmoke;
    --color-button: #91785A;
    --color-button-hover: #bbb6b1;
    --color-ribbon-bg: #E0CAAC;
    --page-height: calc(100vh - 12vh - 20px);

    /* font */
    --font-titles: 'Libre Baskerville', Verdana, Serif;
    --font-size-lg: 1.5rem; 
    --font-size-md: 1rem; 
    --font-size-sm: 0.8rem; 
    
}

body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: var(--bg-first);
    background: var(--bg-first-linear);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
